p {
    color: #12263A;
}

h1, h2, h3 {
    color: #12263A;
}

h1 {
    font-size: 36pt;
    text-align: center;
}

#subtitle {
    text-align: center;
}

mark {
    background-color: #F4D1AE;
}

hr {
    height: 5px;
    background-color: #F4D1AE;
    border-style: none;
}

body {
    background-color: #06BCC1;
    background-image: url('images/background.png');
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    color: #8E4162;
}

a:hover {
    color: #BF9ACA;
}

a:visited {
    color: #41393E;
}

img {
    display: block;
    margin: auto;
}